<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>

<div class="container">
    <div class="row navbar navbar-dark bg-dark">
        <div class="col">
            <b class="text-white" th:utext="${admin.getEmail()}"></b>
            <span class="text-white" th:utext="' with roles: '"></span>
            <span class="text-white" th:each="roles : ${admin.getRoles()}" th:utext= "${roles.toString()}+'   '"></span>
        </div>
        <div class="col-1"><a class="nav-link active text-white-50" href="/logout">Logout</a></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </nav>
        </div>
        <div class="col-9 bg-light">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/new">New user</a>
                </li>
            </ul>
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped">
                        <div class="bg-light">All users</div>
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:utext="${user.getId()}">id</td>
                            <td th:utext="${user.getFirstName()}">First name</td>
                            <td th:utext="${user.getLastName()}">Last name</td>
                            <td th:utext="${user.getAge()}">Age</td>
                            <td th:utext="${user.getEmail}">Email</td>
                            <td><span th:each="roles : ${user.getRoles()}"
                                      th:utext= "${roles.toString()}+'   '">Roles</span></td>
                            <td>
                                <button type="button" class="btn btn-info">
                                    <a class="text-white" th:href="@{/admin/{id}/update(id=${user.getId})}">Edit</a>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" data-toggle="modal" th:attr="data-target=${'deletModal'+user.getId()}"
                                        th:data-user="${user}">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Modal Delete-->

<div class="myForm" >
        <div class="modal fade" th:each="user : ${users}" th:attr="id=${'deleteModal'}+user.getId()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form th:object="${user}" th:action="@{/admin/{id}/delete (id=${user.getId})}" method="GET">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id" class="col-form-label">ID</label>
                                <input disabled type="text" class="form-control" id="id" name="id" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="firstName" class="col-form-label">First name</label>
                                <input disabled type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}">
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-form-label">Last name</label>
                                <input disabled type="text" class="form-control" id="lastName" name="lastName" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="age" class="col-form-label">Age</label>
                                <input disabled type="text" class="form-control" id="age" name="age" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-form-label">Email</label>
                                <input disabled type="text" class="form-control" id="email" name="email" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="roles" class="col-form-label">Roles</label>
                                <select class="form-control" name="rolesList" id="roles" size="2" multiple>
                                    <option disabled th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
                                    <option disabled th:value="'ROLE_USER'" th:text="USER"></option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal"
                                th:object="${user}" th:action="@{/admin/{id} (id=${user.getId})}"
                                method="DELETE">Delete</button>
                    </div>
                </div>
            </div>
        </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>








